# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/

# Flask
instance/
.webassets-cache

# Environment variables
.env
.env.local

# VS Code
.vscode/

# MySQL / backup files
*.sql.bak
*_backup.sql
restaurant_db_full_backup.sql

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg

# Zip files
*.zip